# Node.js
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store/

# TypeScript
*.tsbuildinfo

# Logs
logs/
*.log

# Runtime data
*.tgz
.env
.env.local
.env.*.local

# OS-specific
.DS_Store
Thumbs.db

# IDEs and editors
.idea/
.vscode/
*.iml
.project
.classpath
.settings/

# Puppeteer specific
.cache/ 